<div class="form">
  <%= form_with(model: @answer) do |form| %>
    <div class="form-controller form-date">
      <%= form.text_area :body, rows: 10, placeholder: "Message here" %>
    </div>

    <%= form.hidden_field :post_id, value: @answer.post.id %>
    <%= form.hidden_field :room_id, value: @answer.room_id %>
    <div class="form-controller">
      <%= form.submit "Send Answer", class: 'button button-submit' %>
    </div>
  <% end %>
</div>
