<div class="answer">
  <h2>
    A message from
    <span class="answerer"><%= link_to "#{@answer.user.name} ( #{@answer.created_at.to_s(:time_for_body)} )", answer_path(@answer) %></span>
  </h2>

  <div class="answer-body">
    <p><%= @answer.body %></p>
  </div>

  <h2>Original Post</h2>
  <div class="post">
    <p>Date: <%= "#{@answer.post.date.to_s(:date_for_title)}" %></p>
    <p>Time: <%= "#{@answer.post.start_time.to_s(:time_for_title)} - #{@answer.post.end_time.to_s(:time_for_title)}" %></p>
    <div class="post-body">
      <p><%= @answer.post.kind_of_climbing.camelize %></p>
      <p><%= @answer.post.describe %></p>
    </div>
  </div>

  <div class="post-link">
    <% if @answer.post.user_id != current_user.id %>
      <%= link_to 'Answer', new_answer_path(post_id: @answer.post_id), class: "button button-submit" %>
    <% end %>
    <%= form_with model: @answer, url: { controller: 'answers', action: 'unread' } do |f| %>
      <%= f.hidden_field :read, :value => false %>
      <%= f.submit "Make this message unread", class: "button button-unread" %>
    <% end %>
    <%= link_to 'Back', answers_path %>
  </div>
</div>
