<div class="box">
  <div class="box-inner">

    <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="box-form box-email">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-form box-password">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="box-login">
        <% if devise_mapping.rememberable? %>
          <div class="box-remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "Remenber me" %>
          </div>
        <% end %>
        <div class="box-submit">
          <%= f.submit "Log in", class: 'button button-submit' %>
        </div>
      </div>
    <% end %>

    <div class="box-signin">
      <p>Don't have an account? <%= render "devise/shared/links" %></p>
      
    </div>
  </div>
</div>
