<p id="notice"><%= notice %></p>

<div class="post">
  <h2>
    <span class="post-owner"><%= link_to @post.user.name, post_path(@post) %></span>
    <span class="date"><%= "#{@post.date.to_s(:date_for_title)}" %></span>
    <br>
    <span class="time"><%= "#{@post.start_time.to_s(:time_for_title)} - #{@post.end_time.to_s(:time_for_title)}" %></span>
  </h2>
  <div class="post-body">
    <p><%= @post.kind_of_climbing.camelize %></p>
    <p><%= @post.describe %></p>
  </div>

  <div class="post-link">
    <% if @post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% else %>
      <%= link_to 'Answer', new_answer_path(post_id: @post.id), class: "button button-submit" %>
    <% end %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>
