<header id="header-site">
  <div id="header-site-inner">
    <h1 class="title">
      <%= link_to 'Belayer', root_path %>
      <span class="tagline">This is an application which you can find your belay partner in your rock trip!</span>
    </h1>
    <nav>
      <li class="tab"><%= link_to 'Home', root_path, class: "button button-small button-inverse" %></li>
      <li class="tab"><%= link_to 'Profile', user_path(current_user), class: "button button-small button-inverse" %></li>
      <li class="tab"><%= link_to 'Log In', new_user_session_path, class: "button button-small button-inverse" %></li>
      <li class="tab"><%= link_to 'Sign Up', new_user_registration_path, class: "button button-small button-inverse" %></li>
      <li class="tab"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button button-small button-inverse" %></li>
    </nav>
  </div>
</header>

